* {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
    font-family: "Avenir", "Futura", "Arial", sans-serif;
    font-size: 10pt;
    height: 100%
}
    
table {
    width: max-content;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 20px 0px;
    border-bottom: 1px solid #272727

}

th {
    border-bottom: 1px solid #272727; 
    padding: 2px;
    text-align: left;
}

table, th, td {
    text-align: left;
    font-family: "OCR-B", "SF Mono", "Consolas", "DejaVu Sans Mono", "Roboto Mono", "Courier", monospace;
}

.wrapper {
  min-height: 95%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*.logo-box {
  display: flex;
  gap: 10px;
}*/
.logo-box img {
  width: 20%;     /* Set your desired width (px, %, rem, etc.) */
  max-width: 100px;
  height: auto;     /* Maintains the original aspect ratio */
  margin-right: 1%;
  display: inline-block;   /* Removes default bottom whitespace */
}
/*
.page-header,
.page-footer {
  background-color: rgb(75 70 74);
  color: white;
  padding: 20px;
}*/